<br />
<form class="well form-inline">
    <div class="form-group">
        <div class ="col-lg">
            <select ng-model="systemQuery" ng-options="s.Label as s.Label for s in OfpSystems" class="form-control">
                <option value="">  - System -  </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class ="col-lg">
            <input type="Search" ng-model="query" class="form-control search-query" placeholder="Description" />
        </div>
    </div>
    <div class="form-group">
        <div class ="col-lg">
            <select ng-model="isImplementedQuery" class="form-control">
                <option value="">- Implemented? -</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class ="col-lg">
            <select ng-model="typeQuery" ng-options="t.Label as t.Label for t in Types" class="form-control">
                <option value="">  - Type -  </option>
            </select>
        </div>
    </div>

    <button ng-click="reset()" type="submit" class="btn"><i class="icon-search"></i></button>
    <button ng-click="query='';systemQuery='';isImplementedQuery='';typeQuery=''; reset()" ng-disabled="!showResetButton()" type="submit" class="btn">Reset</button>
</form>
<br />
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th><a style="cursor:pointer" ng_click="sort_by='Id';asc = !asc" >id </a><span ng-show="do_show_arrow('Id',true)"><i class="icon-circle-arrow-down"></i></span><span ng-show="do_show_arrow('Id',false)"><i class="icon-circle-arrow-up"></i></span></th>
        <th><a style="cursor:pointer" ng_click="sort_by='OfpSystem';asc = !asc" >System </a><span ng-show="do_show_arrow('OfpSystem',true)"><i class="icon-circle-arrow-down"></i></span><span ng-show="do_show_arrow('OfpSystem',false)"><i class="icon-circle-arrow-up"></i></span></th>
        <th>Description</th>
        <th><a style="cursor:pointer" ng_click="sort_by='Type';asc = !asc" >Type </a><span ng-show="do_show_arrow('Type',true)"><i class="icon-circle-arrow-down"></i></span><span ng-show="do_show_arrow('Type',false)"><i class="icon-circle-arrow-up"></i></span></th>
        <th>Implemented?</th>
        <th><a ng-href="#/new"><i class="icon-plus-sign icon-2x"></i></a></th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items | orderBy:sort_by:!asc" id="item_{{item.Id}}" class="my-repeat-animation">
            <td>{{item.Id}}</td>
            <td>{{item.OfpSystem}}</td>
            <td ng-if="item.Description.length<100">{{item.Description}}</td>
            <td ng-if="item.Description.length>=100"><a popover="{{item.Description}}" popover-trigger="mouseenter">{{item.Description|truncate:100}}</a></td>
            <td>{{item.Type}}</td>
            <td><input type="checkbox" ng-checked={{item.IsImplemented}} disabled/></td>
            <td><a ng-href="#/edit/{{item.Id}}"><i class="icon-edit"></i></a> <a style="cursor:pointer" ng-click="askDelete()"><i class="icon-remove"></i></a></td>
        </tr>
    </tbody>
</table>

<a ng-href="" ng-click = "getMore()" 
    ng-show ="show_more()">Show more</a>
