@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated) { 
    @Html.Raw(File.ReadAllText(Server.MapPath("~/index.html")))
}
else
{
  <div class="jumbotron">
      <div class="container">
  <img src="@Url.Content("~/Content/images/spc_logo.png")" alt="spc_logo" style="float:left; margin-right: 10px; margin-left: 10px; "/>
  <h1>OFP Check List</h1>
  <p>Welcome to the OFP Check List system, where you can consult and add new features you would like to see in OFP products</p>
  </div>
</div>
}



